extends layout3
block content
  .container.mt-4
    .row.row-cols-1.row-cols-md-2.g-4
      .col
        .card.shadow
          .card-body
            h5.card-title Books in the Lib
            p.card-text Varieties of books in the Lib: #{numVarBooksInLib}
            p.card-text Number of Genres in the Lib: #{numGenres}
            p.card-text Number of books in the Lib: #{copies.totalCopies}
            a.btn.btn-primary(href='/books/booklist') View Varieties
      .col
        .card.shadow
          .card-body
            h5.card-title Registered Users
            p.card-text Total number of Registered Users: #{numUsers}
            a.btn.btn-primary(href='/users/userlist') View Users
      .col
        .card.shadow
          .card-body
            h5.card-title Registered Authors
            p.card-text Total number of Registered Authors: #{numAuthors}
            a.btn.btn-primary(href='/authors/authorlist') View Authors
      .col
        .card.shadow
          .card-body
            h5.card-title Registered Genres
            p.card-text Total number of Registered Genres: 
            a.btn.btn-primary(href='/genres/genrelist') View Genres
      .col
        .card.shadow
          .card-body
            h5.card-title Available Books
            p.card-text Number of books available: #{(availableBooks.totalCopiesAvailable)-(numBorrowedBooks)}
            a.btn.btn-primary(href='/books/availablelist') View Books
      .col
        .card.shadow
          .card-body
            h5.card-title Borrowed Books
            p.card-text Number of borrowed Books : #{numBorrowedBooks}
            a.btn.btn-primary(href='/books/issuedBooklist') View Books
      .col
        .card.shadow
          .card-body
            h5.card-title Books Overdue
            p.card-text Number of books overdue: #{overdue}
            a.btn.btn-primary(href='/books/overdueBooklist') View Books
      .col
        .card.shadow
          .card-body
            h5.card-title Popular Book Title: #{popular}
            p.card-text Number of copies borrowed: #{popBook.totalBorrows}
            a.btn.btn-primary(href='/books/issuedBooklist') View Copies
      .col
        .card.shadow
          .card-body
            h5.card-title Popular Genre: 
            p.card-text Number of copies borrowed: #{popGenre.totalBorrows}
            a.btn.btn-primary(href='/books/issuedBooklist') View Copies
