extends layout3
block content
  .container
      h2.text-center.mt-5.mb-4 Books Overdue
      table.table.table-striped
          thead
          tr
              th(scope='col') Borrower
              th(scope='col') Book ID
              th(scope='col') Book Name
              th(scope='col') Book Genre
              th(scope='col') Borrowed Copies
              th(scope='col') Issue Date
              th(scope='col') Specified Return Date
              th(scope='col') Status
              th(scope='col') Action
          tbody
              if books.length
              each book in books
                if book.status === "borrowed" && book.specifiedReturnDate < new Date()
                  tr
                    td #{book.borrower.fullName}
                    td #{book.bookId.bookId}
                    td #{book.bookName.bookName}
                    td #{book.genre.genre}
                    td #{book.copiesBorrowed}
                    td #{book.issueDate}
                    td #{book.specifiedReturnDate}
                    td #{book.status}
                    td
                      a.btn.btn-secondary.btn-sm(href='/books/returnBook/'+book._id) Return Book
              else
                  p No Books yet :(
