extends layout3
block content
  .container
      h2.text-center.mt-5.mb-4 Available Books
      form.search(action='/books/availablelist')
        div.form-row
          div.col-md-8
            select.form-control(type="text" name="genre")
              option(value="Default") (Select book Genre...)
              option(value="fiction") Fiction
              option(value="poetry") Poetry
              option(value="science") Science
              option(value="humor") Humor
              option(value="history") History
          div.col-md-4
            input.btn.btn-primary.btn-block(type="submit")
      table.table.table-striped
          thead
          tr
              th(scope='col') Book ID
              th(scope='col') Name
              th(scope='col') Author Name
              th(scope='col') Genre
              th(scope='col') Available Copies
              th(scope='col') Action
          tbody
              if books.length
              each book in books
                tr
                  td #{book.bookId}
                  td #{book.bookName}
                  td #{book.authorName.fullName}
                  td #{book.genre}
                  td #{book.numCopies}
                  td
                    a.btn.btn-secondary.btn-sm(href='/books/issueBook/'+book._id) Borrow Book
                  td
                    a.btn.btn-primary.btn-sm(href='/books/updateBook/'+book._id) Update
                  td
                    form(method="post" action='/books/deleteBook')
                      input(type="hidden", placeholder="", name="id", value=book._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
              else
                  p No Books yet :(                    
