extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.min-vh-100
    .row.justify-content-center
      .col-md-6
        .edit-book-form.p-4
          h2.text-center.mb-4 Edit Book Details
          form#edit-book-form(action="/books/updateBook?id="+book._id method='POST' name='editBookForm')
            .mb-3
              label.form-label(for='bookId') Book ID
              input#bookId.form-control(type='text' name='bookId' value=book.bookId)
            .mb-3
              label.form-label(for='bookName') Book Name
              input#bookName.form-control(type='text' name='bookName' value=book.bookName)
            .mb-3
              label.form-label(for='authorName') Author Name
              input#authorName.form-control(type='text' name='authorName' value=book.authorName)
            .mb-3
              label.form-label(for='genre') Genre
              input#genre.form-control(type='text' name='genre' value=book.genre)
            .mb-3
              label.form-label(for='numCopies') Number of Copies
              input#numCopies.form-control(type='number' name='numCopies' value=book.numCopies)
            .text-center
              button.btn.btn-primary(type='submit') Update Details
