extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .issue-book-form
      h2.text-center.mb-4 Issue Book
      form#issue-book-form(action=`/books/issueBook/${book._id}` method='POST' name='issueBookForm')
        .row.mb-3
          .col
            label.form-label(for='borrower') Select Borrower
            select#borrower.form-control(name='borrower')
              each user in users
                option(value=user._id) #{user.fullName}
            small#borrowerErr
          .col
            label.form-label(for='bookId') Book ID
            select#bookId.form-control(name='bookId')
              option(value=book._id) #{book.bookId}
            //- input#bookId.form-control(name='bookId' value=book._id) #{book.bookId}
            small#bookIdErr
        .row.mb-3
          .col
            label.form-label(for='bookName') Book Name
            select#bookName.form-control(value=book._id name='bookName')
              option(value=book._id) #{book.bookName}
            small#bookNameErr
          .col
            label.form-label(for='genre') Book Genre
            select#genre.form-control(value=book._id name='genre')
              option(value=book._id) #{book.genre}
            small#genreErr
        .row.mb-3
          .col
            label.form-label(for='copiesBorrowed') Copies Borrowed
            input#copiesBorrowed.form-control(type='number' name='copiesBorrowed')
            small#copiesBorrowedErr
          .col
            label.form-label(for='issueDate') Issue Date
            input#issueDate.form-control(type='date' name='issueDate')
            small#issueDateErr
        .row.mb-3
          .col
            label.form-label(for='specifiedReturnDate') Specified Return Date
            input#specifiedReturnDate.form-control(type='date' name='specifiedReturnDate')
            small#specifiedReturnDateErr
          .col
            input#status.form-control(type='hidden' name='status' value="borrowed")
            //- label.form-label(for='status') Status
            //- select#status.form-control(name='status')
            //-   option(value='') Select status
            //-   option(value='borrowed') Borrowed
            //- small#statusErr
        .text-center
          button.btn.btn-primary(type='submit') Issue Book
  script(src="/js/fill_return_date.js") 
