extends layout2
block content
  .container.d-flex.justify-content-center.align-items-center.vh-100
    .return-book-form
      h2.text-center.mb-4 Return Book
      form#return-book-form(action="/books/returnBook?id="+book._id method='POST' name='returnBookForm')
        .row.mb-3
          .col
            label.form-label(for='borrower') Borrower
            input#borrower.form-control(name='borrower' value=book.borrower._id disabled)
            small#borrowerErr
          .col
            label.form-label(for='bookId') Book ID
            input#bookId.form-control(name='bookId' value=book.bookId._id disabled) 
            small#bookIdErr
        .row.mb-3
          .col
            label.form-label(for='bookName') Book Name
            input#bookName.form-control(value=book.bookName._id name='bookName' disabled)
            small#bookNameErr
          .col  
            label.form-label(for='genre') Book Genre
            input#genre.form-control(value=book.genre._id name='genre' disabled)
            small#genreErr
        .row.mb-3  
          .col  
            label.form-label(for='copiesBorrowed') Copies Borrowed
            input#copiesBorrowed.form-control(type='number' name='copiesBorrowed' value=book.copiesBorrowed disabled)
            small#copiesBorrowedErr
          .col
            label.form-label(for='issueDate') Issue Date
            input#issueDate.form-control(type='date' name='issueDate' value=book.issueDate disabled)
            small#issueDateErr
        .row.mb-3
          .col
            label.form-label(for='specifiedReturnDate') Specified Return Date
            input#specifiedReturnDate.form-control(type='date' name='specifiedReturnDate' value=book.specifiedReturnDate disabled)
            small#specifiedReturnDateErr
          .col
            label.form-label(for='actualReturnDate') Actual Return Date
            input#actualReturnDate.form-control(type='date' name='actualReturnDate')
            small#actualReturnDateErr
        .row.mb-3
          .col
            label.form-label(for='fineStatus') Fine Status(USD)
            input#fineStatus.form-control(type='number' name='fineStatus')
          .col
            input#status.form-control(type='hidden' name='status' value="available")
            //- label.form-label(for='status') Status
            //- select#status.form-control(name='status')
            //-   option(value='') Select Status
            //-   option(value='available') Available
            //- small#statusErr
        .text-center
          button.btn.btn-primary(type='submit') Return Book
  script(src='/js/fine_calculation.js')
