extends layout3
block content
  .container
      h2.text-center.mt-5.mb-4 All Registered Users
      table.table.table-striped
          thead
          tr
              th(scope='col') User ID
              th(scope='col') Name
              th(scope='col') Email
              th(scope='col') Mobile Number
              th(scope='col') Action
              th
          tbody
              if users.length
              each user in users
                tr
                  td #{user.userID}
                  td #{user.fullName}
                  td #{user.email}
                  td #{user.mobileNumber}
                  td
                    a.btn.btn-primary.btn-sm(href='/users/updateUser/'+user._id) Update
                  td
                    form(method="post" action='/users/deleteUser')
                      input(type="hidden", placeholder="", name="id", value=user._id)
                      button.btn.btn-danger.btn-sm(type="submit") Delete
              else
                  p No Users yet :(
